.line-clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3,
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  width: 1.75rem !important;
  height: 1.75rem !important;
  transition: transform 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

.cart__items-container {
  position: relative;
}

.cart__items-badge {
  position: absolute;
  top: 0;
  right: -4px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border-radius: 5rem;
  z-index: 1;
}

.card__img-link .card__img {
  transition: transform 0.3s ease-in-out;
}

.card__img-link:hover .card__img {
  transform: scale(1.09);
}

.footer__developer-link {
  text-decoration: none;
  color: var(--bs-white);
}

.footer__developer-link:hover {
  text-decoration: underline;
}
